.container
    .row
        .col-lg-6
            .h3 Список материалов
            select.form-control(size='20')
        .col-lg-6
            .h3 Редактирование
            form.form-horizontal
                fieldset
                    .form-group
                        label.control-label(class='col-lg-2') Имя файла
                        col-lg-10
                            .input-group
                                input.form-control(type="text", placeholder='a-z, 0-9, _')
            p Если имени файла нет в списке - будет создан новый.
            br
            textarea(rows="10")

script
    :coffee
