doctype html

.container-fluid
    div(class=['panel', 'panel-default'])
        .panel-body
            div(class=['btn-group', 'pull-right'])
                a(class=['btn', 'btn-default', 'btn-toggle'], data-toggle='dropdown') Сменить оператора
                    span.caret
                ul#load-slots-operator.dropdown-menu
                    li: a(href='javascript:void(0)') yo
                    li: a(href='javascript:void(0)') yo
                    li: a(href='javascript:void(0)') yo

ul(class=['nav', 'nav-tabs'])
    li.active
        a(href='#groups-of-slots', data-toggle='tab') Группы слотов
    li
        a(href='#slots', data-toggle='tab') Слоты в группе

#slots-tabs.tab-content
    #groups-of-slots(class=['tab-pane', 'fade', 'active', 'in'])
        p 11111111111111111111111
    #slots(class=['tab-pane', 'fade'])
        p 22222222222222222222222

