.crutch-checkbox-box,
.crutch-checkbox-label {
  display: inline-block;
  float: left;
  cursor: pointer;
}
.crutch-checkbox-box {
  margin-top: 0px;
}
.crutch-checkbox-label {
  margin: 4px 0 0 4px;
}
