section {
  width: 1280px;
  margin: auto;
}
i[class^=mdi-] {
  cursor: pointer;
}
.tall-cell {
  padding-top: 11px;
}
.modal textarea {
  width: 100%;
}
.request-button {
  float: right;
  width: 150px;
}
.request-input {
  width: 100% !important;
}
.request-label {
  margin-top: 6px;
  text-align: right;
  width: 100%;
}
.panel-heading {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 14pt;
}
#cabinet-ctrl-locations-time-spans {
  overflow-x: hidden;
}
.time-spans span,
.label-codes {
  font-size: 12pt;
  margin-right: 3px;
  margin-top: 5px;
  display: inline-block;
}
.long-value-holder {
  overflow-x: hidden;
}
