#goods-properties select
    width 200px

.mdi-content-create, .mdi-action-delete, .mdi-action-pageview, .mdi-action-list
    cursor pointer

.row-tools
    display inline-block
    width 32px

#goods-preview .file-drop-zone
    background-image url(/img/goods/not-available.jpg)
    background-position center
    background-repeat no-repeat

#goods-description .goods-editor-descr
    width 100%
