.row-editor(class=['modal', 'fade'], tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                h4 Свойства группы
            .modal-body
                form.form-horizontal
                    fieldset
                        .form-group
                            label.control-label(class='col-lg-2') Логин
                            col-lg-10
                                .input-group
                                    input.form-control(type="text", class='row-editor-user')
                        .form-group
                            label.control-label(class='col-lg-2') Имя
                            col-lg-10
                                .input-group
                                    input.form-control(type="text", class='row-editor-name')
                        .form-group
                            label.control-label(class='col-lg-2') E-mail
                            col-lg-10
                                .input-group
                                    input.form-control(type="text", class='row-editor-email')
                        .form-group
                            label.control-label(class='col-lg-2') Skype
                            col-lg-10
                                .input-group
                                    input.form-control(type="text", class='row-editor-skype')
                        .form-group
                            label.control-label(class='col-lg-2') Телефон
                            col-lg-10
                                .input-group
                                    input.form-control(type="text", class='row-editor-phone')
            hr
            .modal-footer
                button(class=['btn', 'btn-primary', 'btn-create']) Создать
                button(class=['btn', 'btn-primary', 'btn-save']) Сохранить
                button(class=['btn', 'btn-primary'], data-dismiss='modal') Отмена
table.hidden
    thead
        th(data-field='user') Логин
        th(data-field='name') Имя
        th(data-field='email') E-mail
        th(data-field='skype') Skype
        th(data-field='phone') Телефон
        th(
            data-field='edit'
            data-formatter='tableOfUsersToolsFormatter'
            data-events='tableOfUsersToolsEvents'
        ) Править
    tbody
        td -
        td -
        td -
        td -
        td -
        td -
script
    :coffee
