extend ../../_libjade/panel-single-row.jade

block panelRestOfFirstRow
    .col-lg-2(class='tall-cell')
        label(class=panelClassesLabel) #{fieldLabelLocation}
    .col-lg-3(class='tall-cell')
        select(class='form-control', name="location")
            option(value='') Не выбрана
    .col-lg-1
