- var panelClassesLabel  = ['control-label', 'request-label']
- var panelClassesButton = ['btn', 'btn-primary', 'request-button']
- var panelClassesSpan   = ['label', 'label-default', 'label-codes']
- var panelClassesButtonPrimary = ['btn', 'request-button', 'btn-primary']
- var panelClassesButtonDefault = ['btn', 'request-button', 'btn-default']

- var fieldLabelName      = 'Наименование'
- var fieldLabelId        = 'ID'
- var fieldLabelState     = 'Состояние'
- var fieldLabelLocation  = 'Локация'

- var buttonTextSubmit    = 'Создать'
- var buttonTextReset     = 'Сброс'

- var tableColumnEdit     = 'Править'
- var tableColumnState    = 'Сост.'

