include constants.jade

.modal(id="#{modalId}")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                h4 #{modalHeader}
            .modal-body
                block modalBody
                    h1 Yo!
            .modal-footer
                block modalButtons
                    | &nbsp;
                button(class=buttonClassesPrimary, data-dismiss='modal') Закрыть

