.navbar(class='navbar-default')
    .navbar-header
        button(
            type="button" 
            class="navbar-toggle" 
            data-toggle="collapse" 
            data-target=".navbar-responsive-collapse"
        )
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="#") Личный кабинет

    .navbar-collapse(class=['collapse', 'navbar-responsive-collapse'])
        ul(class=['nav', 'navbar-nav'])
            li
                a(href="#cms-instructions") Инструкции
            li.dropdown
                a.dropdown-toggle(href="#", data-target="#", data-toggle="dropdown") Управление
                    b.caret
                ul.dropdown-menu
                    li: a(href="#cabinet-ctrl-directions")   Направления
                    li: a(href="#cabinet-ctrl-tariffs")      Тарифы
                    li: a(href="#cabinet-ctrl-originations") Оригинации
                    li.divider
                    li: a(href="#cabinet-ctrl-locations")    Локации
                    li: a(href="#cabinet-ctrl-rules")        Правила
                    li.divider
                    li: a(href="#cabinet-ctrl-goipes")       ГОИПы
                    li: a(href="#cabinet-ctrl-simbanks")     Симбанки
                    li: a(href="#cabinet-ctrl-slots")        Слоты

                    // li: a(href="#cabinet-ctrl-locations")   Локации
                    // li: a(href="#cabinet-ctrl-transitions") Переходы
                    // li.divider
                    // li.divider
                    // li: a(href="#cabinet-ctrl-goips")       ГОИПы
            li.dropdown
                a.dropdown-toggle(href="#", data-target="#", data-toggle="dropdown") Состояние
                    b.caret
                ul.dropdown-menu
                    li: a(href="#cabinet-cond-groups")   Группы
                    li: a(href="#cabinet-cond-slots")    Слоты
                    li: a(href="#cabinet-cond-goipes")   ГОИПы
                    li: a(href="#cabinet-cond-simbanks") Симбанки
            li.dropdown
                a.dropdown-toggle(href="#", data-target="#", data-toggle="dropdown") Статистика 
                    b.caret
                ul.dropdown-menu
                    li: a(href="#cabinet-stat-common")  Общая
                    li: a(href="#cabinet-stat-calls")   Журнал звонков
                    li: a(href="#cabinet-stat-logs")    События
                    li: a(href="#cabinet-stat-sms")     SMS-история
                    li: a(href="#cabinet-stat-current") Текущие звонки
